.kwis {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
    // height: 100%;

    background: #434343a9;
    &__container {
        position: relative;
        max-width: rem(1240);
        padding: 0;
        top: rem(-30);
    }
    &__row {
        display: flex;
        position: relative;
        // padding: 0 rem(5);
        // top: rem(-50);
        // margin: auto;
        
        @media(max-width:720px){
        padding-bottom: rem(140.28);
        &::before {
                position: absolute;
                content: '';
                // display: none;
                width: 115%;
                height: 100%;
                bottom: rem(0);
                left: 0;
                background: url(@img/kwis-fon-mob.png) no-repeat center bottom / contain;
                z-index: 0;
                margin: 0 rem(-20);
        }
        &::after {
            position: absolute;
            content: '';
            width: 115%;
            height: 100%;
            bottom: 0;
            left: 0;
            background: url(../../images/kwis-fon-mob2.png) no-repeat center bottom / cover;

            z-index: -1;
            margin: 0 rem(-20);
    }
    }
    }

    &__left-wrap {
        @include adaptiveClamp(padding-top, 57.32, 27.32);
        background-color: $whiteColor;

        flex: 0 1 75%;
        @media(max-width:720px){
            flex: 0 1 100%;
            padding: rem(40) rem(20) rem(20) rem(20);
            background-color: #e5ebf500;
        }

    }

    &__title {
        text-align: left;
        @include adaptiveClamp(margin-bottom, 26.53, 22.4);
        @include adaptiveClamp(margin-left, 54, 20);

        h3 {
            @include adaptiveClamp(font-size, 20, 14);
        @include adaptiveClamp(line-height, 24.38, 17);
        }
    }

    &__form {
       
    }

    &__img {
        max-width: rem(900);
        img {
            width: 100%;
        }
        @media(max-width:720px){
            display: none;
        }
    }

    &__right-wrap {

        flex: 0 1 25%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: rem(0) rem(20) rem(30.55);
        @include adaptiveClamp(padding-top, 57.32, 27.32);

        

        min-width: rem(260);

        background: #F4F6FA;
        @media(max-width:720px){
            display: none;
        }
    }

    &__consul {
    }

    &__progress {
    }

    &__progress-text {
        margin-bottom: rem(10);
        @include adaptiveClamp(font-size, 14, 12);
        @include adaptiveClamp(line-height, 17, 15);
        font-weight: 600;
        color: #FFC858;
    }

    &__button-row {
        position: relative;
        z-index: 1;
        @include adaptiveClamp(margin-top, 36.31, 26.31);
        display: flex;
        gap: rem(23.48);


        @media(max-width:720px){
            justify-content: space-between;
        }
    }
    &__button-back,  &__button-for {
        padding: rem(17.13);
        width: 100%;

        font-weight: 600;
        font-size: rem(14);
        text-align: center;

        color: #FFFFFF;

        border-radius: 11px;

        cursor: pointer;
        transition: all 0.3s ease  0s;
        &:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        }
    }
    &__button-back {
        background: #DADADA;
        max-width: rem(96.52);
    }

    &__button-for {
        background: #75C9EA;
        max-width: rem(150.03);

        @media(max-width:720px){
            max-width: rem(199.22);
        }
    }

    .swiper-pagination {
        position: relative;
        
        height: rem(5);
        background: #E5EBF5;
        border-radius: 50px;
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #75C9EA;
            border-radius: 50px;
        }
    }
    .swiper-pagination-slide1 {
        width: 33%;
    }
    .swiper-pagination-slide2 {
        width: 66%;
    }

}
.form-kwis-item1 {
    // &__body {
    //     display: block;
    //     flex-direction: row;
    //     align-items: start;
    // }
}

.form-kwis.form-kwis-item1 {
    background: none;
    padding: 0;
    margin: 0;
    @include adaptiveClamp(margin-left, 54, 20);
    padding-right: rem(100);
    backdrop-filter: none;
    @media(max-width:720px){
        margin: 0;
        padding: 0;
    }
    // justify-content: baseline;
    &::before {
        display: none;
    }
    &__body {
        display: block;
        flex-direction: row;
        align-items: start;
    }

    &__option {
    }
}
.option-kwis {
    display: flex;
    flex-wrap: wrap;
    @include adaptiveClamp(row-gap, 22, 12);

    margin: 0 rem(-30);
    @media(max-width:1040px){
        margin: 0 rem(-10);
    }
    max-width: rem(720);
    @media(max-width:720px){
        max-width: 100%;
        max-width: none;
        flex-wrap: wrap;
        padding-bottom: rem(15.69);
    }
    &__item {
        flex: 0 1 50%;
        padding: 0 rem(30);
        @media(max-width:1040px){
            padding: 0 rem(10);
        }
        @media(max-width:720px){
            flex: 0 1 100%;
        }
    }
    &__item-body {
        position: relative;
        background: #F4F6FA;
        border-radius: 5px;
        border: 1px solid transparent;

        padding: rem(10.5) rem(9.58);
        transition: all 0.5s ease  0s;
    }

    &__input {
        display: none;
        &:checked + .option-kwis__label::before {
            background-color: #75C9EA;
        }
        &:checked+.option-kwis__label::after {
                border: 1px solid #75C9EA;
        }
    }

    &__label {
        // position: relative;
        font-weight: 500;
        font-size: rem(14);
        line-height: rem(17);

        color: #666666;
        padding-left: rem(20.71);

        &::before {
            position: absolute;
            content: '';
            top: rem(13);
            left: rem(9.58);
            width: rem(11.1);
            height: rem(11.1);
            background-color: #E5EBF5;
            border-radius: 50%;
            transition: all 0.5s ease  0s;
        }
        &::after {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 5px;
            border: 1px solid transparent;
            transition: all 0.5s ease  0s;
        }
    }
}
.consul-kwis {
    display: flex;
    position: relative;
    @media(max-width:720px){
        flex-wrap: wrap;
    }
    &__img {
        position: relative;
        @include adaptiveClamp(max-width, 104.07, 53.06);
        border-radius: 50%;
        z-index: 1;
        &::before {
            position: absolute;
            content: '';
            bottom: 0;
            right: rem(13.79);
            width: rem(15.77);
            height: rem(15.77);
            background: #30EE00;
            border: 2px solid #F4F6FA;
            border-radius: 50%;
        }
        img {
            width: 100%;
            border-radius: 50%;
        }
        @include adaptiveClamp(margin-right, 13.78, 11.9);

        
    }

    &__name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4 {
            @include adaptiveClamp(font-size, 20, 14);
            @include adaptiveClamp(line-height, 24, 17);
            font-weight: 500;
            margin-bottom: rem(5);
        }
        p {
            @include adaptiveClamp(font-size, 14, 12);
            @include adaptiveClamp(line-height, 17, 15);
            font-weight: 500;
            color: #666666;
            margin-bottom: rem(5);
        }
       
    }

    &__text {
        
    }

    &__messeng {
        // display: none;
        position: absolute;
        top: 100%;
        left: rem(-60);
        margin-top: rem(21.81);
        width: 120%;
        // height: 100%;
        padding: rem(19) rem(21.25) rem(46.55);

        background: #E5EBF5;

        @include adaptiveClamp(font-size, 16, 12);
        @include adaptiveClamp(line-height, 19.5, 12);
        color: #666666;

        &::before {
            position: absolute;
            content: '';
            width: rem(21.81);
            height: rem(21.81);
            top: rem(-19);
            left: rem(53.62);
            background: url(@img/kwis-messeg-str.svg) no-repeat center center / contain;
        }

        @media(max-width:720px){
            position: relative;
            width: 100%;
            margin-top: rem(-6);
            top: 0;
            left: 0;
            border-radius: 5px;

            margin-bottom: rem(11.54);
            padding: rem(14.34) rem(14.34) rem(15.55);
            &::before {
                display: none;
            }
        }
    }
}
.swiper-pagination {
}

//==========================================
.kwis {

    &__row {
    }
    &__row-form {
        // min-width: 100%;
        // margin: 0 rem(10);
        // padding: 0 rem(10);
        
        @media(max-width:720px){
            &::after {
                position: absolute;
                content: '';
                width: 115%;
                height: 100%;
                bottom: 0;
                left: 0;
                background: url(@img/kwis-fon-mob2.png) no-repeat center bottom / cover;
                z-index: -2;
                margin: 0 rem(-20);
            }
            padding-bottom: 0;
        }
        
    }

    &__wrap {
        position: relative;
        width: 100%;
        // margin: 0 rem(-20);
        padding: 0 rem(5);
        
        @include adaptiveClamp(padding-top, 110.62, 60.62);
        @include adaptiveClamp(padding-bottom, 110.62, 60.62);

        &::before {
            position: absolute;
            content: '';
            margin-top: rem(45.21);
            width: 100%;
            height: 100%;
            
            bottom: 0;
            left: 0;
            background: url(@img/kwis-fon.png) no-repeat center bottom / cover;
            z-index: -1;
            @media(max-width:720px){
                display: none;
            }
    }
    }

    &__form {
    }
}
.form-kwis {
    position: relative;
    max-width: rem(794.18);
    width: 100%;
    padding: 0 rem(20);
    @include adaptiveClamp(padding-top, 44.92, 60.54);
    padding-bottom: rem(65);


    margin: 0 auto;
    border-radius: 11px;
    background: rgba(229, 235, 245, 0.85);
    backdrop-filter: blur(9.5px);
    // &__body {
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    // }

    &__title {
        font-weight: 700;
        @include adaptiveClamp(font-size, 26, 19.1);
        @include adaptiveClamp(line-height, 32, 24);

        text-align: center;
        text-transform: uppercase;

        color: #434343;

    }

    &__text {
        @include adaptiveClamp(margin-top, 15, 10);
        @include adaptiveClamp(margin-bottom, 30.8, 27.56);
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        @include adaptiveClamp(font-size, 20, 16);
        @include adaptiveClamp(line-height, 24, 20);
        text-align: center;

        color: #434343;
        span {
            color: #25D366;
            font-weight: 600;
        }
    }

    &__item {
        &:not(:last-child) {
            @include adaptiveClamp(margin-bottom, 26.89, 17.56);
        }
        max-width: rem(410.28);
        width: 100%;
        display: flex;
        margin: 0 auto;
    }

    &__input {
        position: relative;
        display: block;
        width: 100%;

        padding: rem(16.56) rem(16.56) rem(16.56) rem(58.42);
        background: #FFFFFF;
        border-radius: 5px;
    }
    &__input, &__input::placeholder {
        font-weight: 500;
        @include adaptiveClamp(font-size, 16, 14);
        @include adaptiveClamp(line-height, 20, 17);

        color: #666666;
    }

    &__label-tel {
        position: relative;
        &::before {
            position: absolute;
            content: '';
            top: rem(12);
            left: rem(18.42);   
            z-index: 10; 
            width: rem(29);
            height: rem(29);
            background: url(@img/kwis-icon-whatsapp.svg) no-repeat center center / contain;
        }
    }

    &__label-name {
        display: block;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            top: rem(12);
            left: rem(18.42);   
            z-index: 5; 
            
            width: rem(24);
            height: rem(24);
            background: url(@img/kwis-icon-name.svg) no-repeat center center / contain;
        }
    }

    &__button {
        padding: rem(19.56);
        max-width: rem(410.28);
        width: 100%;

        @include adaptiveClamp(font-size, 16, 14);
        text-align: center;
        color: #FFFFFF;
        font-weight: 600;

        background: #75C9EA;
        border-radius: 5px;

        &:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        }
    }
}
.form {

    &__input {
    }
}
.chekbox-kwis {

    &__input {
        display: none;
        &:checked + .chekbox-kwis__label::after {
            opacity: 1;
        }
    }

    &__label {
        position: relative;
        display: block;
        font-weight: 500;
        @include adaptiveClamp(font-size, 14, 10);
        @include adaptiveClamp(line-height, 17, 12);
        @include adaptiveClamp(padding-left, 42, 29);
        &::before {
            position: absolute;
            content: '';
            top: rem(0);
            left: rem(0);   
            @include adaptiveClamp(width, 20.98, 16.17);
            @include adaptiveClamp(height, 20.98, 16.17);
            background: #FFFFFF;
            border-radius: 3px;
        }
        &::after {
            position: absolute;
            content: '';
            top: rem(4.5);
            left: rem(4);   
            @include adaptiveClamp(width, 12.75, 9);
            @include adaptiveClamp(height, 9.92, 7);
            background: url(@img/chek-icon.svg) no-repeat center center / contain;
            opacity: 0;
            transition: all 0.3s ease  0s;
        }
        
    }
}

//========================
.kwis {

    &__row {
    }

    &__row-form {
    }

    &__wrap {
    }

    &__wrap-grat {
    }
}
.grat-kwis {
    @include adaptiveClamp(padding-top, 110.62, 134.54);
    @include adaptiveClamp(padding-bottom, 110.13, 134.54);
    &__row {
        background: rgba(229, 235, 245, 0.85);
        backdrop-filter: blur(9.5px);

        border-radius: 11px;

        max-width: rem(794.18);
        margin: 0 auto;

        display: flex;

        padding: 0 rem(20);
        @media(max-width:720px){
            justify-content: center;
        }
    }
    &__img {
        flex: 0 1 47%;
        max-width: rem(356);
        img {
            width: 100%;
        }
        @media(max-width:720px){
            display: none;
        }
    }

    &__body {
        flex: 0 1 53%;
        @include adaptiveClamp(margin-top, 87.61, 40.54);
        @media(max-width:720px){
            flex: 0 1 100%;
        }
    }

    &__title {
        font-weight: 700;
        @include adaptiveClamp(font-size, 26, 20);
        @include adaptiveClamp(line-height, 32, 24);
        @include adaptiveClamp(margin-bottom, 40, 22);

        text-align: center;
        text-transform: uppercase;

        color: #434343;
        text-align: left;
        @media(max-width:720px){
            text-align: center;
        }
    }

    &__text {
       
        text-align: left;
        p {
            @include adaptiveClamp(font-size, 20, 16);
            @include adaptiveClamp(line-height, 24, 20);
            @include adaptiveClamp(margin-bottom, 32, 25);
        }
        @media(max-width:720px){
            text-align: center;
        }
    }

    &__button-row {
        @media(max-width:720px){
            margin-bottom: rem(47.55);
        }
    }

    &__button {
        position: relative;
        max-width: rem(221);
        width: 100%;
        padding: rem(21) rem(71) rem(21) rem(26);
        display: block;

        cursor: pointer;
        transition: all 0.3s ease  0s;
        font-weight: 600;
       
        @include adaptiveClamp(font-size, 16, 14);

        background: #FFFFFF;
        border-radius: 4px;

        color: #269ED1;
        text-align: center;
        &::before {
            position: absolute;
            content: '';
            @include adaptiveClamp(width, 37, 32);
            @include adaptiveClamp(height, 37, 32);
            top: rem(11);
            right: rem(20);
            background: url(@img/grat-icon-tel.svg) no-repeat center center / contain;
        }
        &:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
        }

        @media(max-width:720px){
            padding: rem(18) rem(61.31) rem(18) rem(22);
            margin: 0 auto;
        }


    }
}
